<div class="ng-init: getMarkets()">
    <div class="row">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-10 pt-3">
            <h2>Last Entries</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th>Market Name</th>
                          <th>Last</th>
                          <th>Bid</th>
                          <th>Ask</th>
                          <th>24 Hr</th>
                          <th>BaseVolume</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="market in markets">
                            <td>{{ market.MarketName }}</td>
                            <td>{{ market.Last }}</td>
                            <td>{{ market.Bid }}</td>
                            <td>{{ market.Ask }}</td>
                            <td>WIP</td>
                            <td>{{ market.BaseVolume }}</td>
                        </tr>
                  </tbody>
                </table>
            </div>
        </main>
  </div>
</div>