<div class="ng-init: getMarkets()">
    <div class="row">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-10 pt-3">
            <h2>Last Entries</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th>Market Name</th>
                          <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="market in markets">
                            <td>{{ market.MarketName }}</td>
                            <td class="btn btn-primary" href="/markets/entries/{{market._id}}">Veiw Market</td>
                        </tr>
                  </tbody>
                </table>
            </div>
        </main>
  </div>
</div>